@{
	ViewBag.Title = "Képtár";
}

	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="#">Képtár</a>
			@Html.Partial("_LoginPartial")
		</div>
	</nav>

	<div class="container">
		<div class="page-header">
			<h1>Sorozatok</h1>
		</div>
		
		<h2>Legújabb sorozatok</h2>
		
		<h3>
			<a href="Photo.html">
				2013-11-01 Sed ut perspiciatis unde omnis
				<span class="badge">120 kép</span>
			</a>
		</h3>	
		<p class="my-thumbnail-list clearfix">
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
		</p>

		<h3>
			<a href="Photo.html">
				2013-10-30 Sed ut perspiciatis unde omnis
				<span class="badge">8 kép</span>
			</a>
		</h3>
		<p class="my-thumbnail-list clearfix">
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
		</p>
		
		<h3>
			<a href="Photo.html">
				2013-10-22 Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
				<span class="badge">38 kép</span>
			</a>
		</h3>
		<p class="my-thumbnail-list clearfix">
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
			<a href="Photo.html"><img src="Static/dummy/dummy-thumbnail.png" alt="" /></a>
		</p>

	
		
		<h2>Régebbi sorozatok</h2>
		
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object" src="Static/dummy/dummy-thumbnail.png" alt="" />
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					<a href="Photo.html">2013-11-01 Sed ut perspiciatis unde omnis</a>
				</h4>
				<span class="badge">3 kép</span>
			</div>
		</div>
		
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object" src="Static/dummy/dummy-thumbnail.png" alt="" />
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					<a href="Photo.html">2013-11-01 Neque porro quisquam est autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae</a>
				</h4>
				<span class="badge">133 kép</span>
			</div>
		</div>
		
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object" src="Static/dummy/dummy-thumbnail.png" alt="" />
			</a>
			<div class="media-body">
				<h4 class="media-heading">
					<a href="Photo.html">2013-11-01 Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur</a>
				</h4>
				<span class="badge">27 kép</span>
			</div>
		</div>
	</div> <!-- /container -->